body{
	background-image: url(../images/242.jpg);
 	
	background-size: 1200px auto;
}
.container{
			width: 50%;
			max-width: 960px;
			margin: 15% auto;
			clear:both;
			background-color: white;
			padding: 10% 10%;
			}
h1{
	font-size: 42px;
	color: #D2B785;
	text-align: center;
	font-weight: bold;
}
h2{
	color: grey;
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	line-height: 46px;
}
p{
	
	text-align: center;
	font-size: 26px;
	line-height: 28px;
	font-weight: bold;
}