
.container{
			width: 100%;
			max-width: 960px;
			margin: 150px auto;
			clear:both;
			}
h1{
	font-size: 42px;
	color: purple;
	text-align: center;
}
h2{
	text-align: center;
	font-size: 30px;
}
p{
	text-align: center;
	font-size: 18px;
	line-height: 22px;
}